
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
</head>
<body>
    <h1>Welcome {{username}} </h1>
    <h2><a href = "/create_todo" > Create a New Todo </a> </h2>
    <h2><a href = "/logout" > Logout </a> </h2>


    <!-- display the todos for me -->
    <h2>Your Todos</h2>
    <ul>
        {% for todo in todos %}
            <li>{{ todo.title }} - {{ todo.description }}</li>
        {% endfor %}
    </ul>

</body>
</html>
